---
import "./global.css";

export interface Props {
  title: string;
}

const { title } = Astro.props.frontmatter ?? Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    {
      Astro.slots.has("header") && (
        <header>
          <slot name="header" />
        </header>
      )
    }
    <main>
      <slot />
    </main>
    {
      Astro.slots.has("footer") && (
        <footer>
          <slot name="footer" />
        </footer>
      )
    }
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
      }
      html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
      }
      main,
      header,
      footer {
        margin: auto;
        max-width: 60ch;
      }
      main {
        padding: 1.5rem;
      }
    </style>
  </body>
</html>
